*{
    margin: 0;
    font-family: "Inter", sans-serif;

}
body{
    width: 100%;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
}
nav{
    height: auto;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    padding-left: 20px;
    padding-right: 5% ;
    background-color: #BF2F31 ;
    overflow-x: hidden;
}
.left .logo{
    display: flex;
    align-items: center;
    color: white;
}
.logo h1{
    font-size: small;
    font-weight: 800;
    border: 1.5px solid white;
    margin-top: 1.5px;
    padding: 1.5px;
}
.right{
    width: 90%;
    justify-content: space-between;
    align-content: space-between;
}

.links{
    padding-left:10%;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    align-items: center;
    padding-top: 2%;
    text-align: center;
}
.links a{
    color: white;
    text-decoration: none;
    padding-left: 5%;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    align-items: center;
}
.links a:active{
    color: #E9B824;
}
.menu{
    display: none;
}
@media only screen and (max-width:1235px){
    .links{
        align-items: center;
    }
    .links a{
        font-size: 1.14vw;
        font-weight: 700;
    }

}

/* notification */
.notifications{
    position: relative;
    background-color: #E9B824;
    padding: 3px 0 3px 0;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    
}
.notifications a {
    text-decoration: solid;
    color: #2f51bf;
    font-size: 2.5vmin;
    padding-left: 50px;
    direction: rtl;
}
.notifications a:hover,a:active {
    color: aliceblue;
}

/* main page */
main{
    background: url(https://github.com/eagerclub1/GVP-Student-Portal/blob/main/assects/campus.png?raw=true);
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 5%;
    text-shadow: 
        0px 0px 14px #d8b54e,
        0px 0px 16px #dd8282;
    
}

.gvp{
    padding-top: 20px;
    position: relative;
    align-items: center;
    text-align: center;
}
.gvp img{
    width: 16%;
}

.code{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-content: space-evenly;
}
section{
    background-color: white;
}
.null{
    display: block;
}
.null-a{
    display: none;
}
.page1{
    margin-top: 3%;
    width: 100%;
    height: 100vh;
    text-align: center;

}
.gal{
    color: #BF2F31;
    text-transform: uppercase;
    font-size: 3.2vmax;
    font-weight: 700;
}


/* img gv */
.gallery{
    position: relative;
    width: 65%;
    margin-left: 22.5%;
    margin: 0 auto;
    margin-top:3%;
    z-index: 60;
    border: 3px solid black;
    border-radius: 2.5%;
    box-shadow: 
    0px 0px 7px #d1a318;
}

.slide{
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type:x proximity;
    scroll-behavior: smooth;
    border-radius: 2%;
    
}
.slide img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    cursor: grab;
}
.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider-nav a{
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 1;
    transition: opacity ease 250ms;
}

.slide::-webkit-scrollbar {
    display: none;
  }


.slideshow {
    animation: slide 20s infinite;
    
}
.slideshow::-webkit-scrollbar {
    display: none;
  }

  .slider-nav a:active{
    background-color: rgb(117, 114, 111);
    animation: slide 1s none;
}
@keyframes slide {
    0%, 100% {
        transform: translateX(0%);
    }
    20% {
        transform: translateX(-100%);
    }
    40% {
        transform: translateX(-200%);
    }
    60% {
        transform: translateX(-300%);
    }
    80% {
        transform: translateX(-400%);
    }
    100% {
        transform: translateX(0%);
    }
}


@media only screen and (max-width:850px){
    .nav-li{
        height: 100vh;
    }
    .links{
        
        font-size: larger;
        position: absolute;
        display: grid;
        justify-content: center;
        align-items: center;
        align-content: center;
        left: 25%;
        bottom: 40%;
        margin-bottom: 900px;
    } 
    .mobile-menu{
        margin-bottom: 0%;
    }
    .links a{
        align-items: center;
        margin-top: 30px;
        cursor: col-resize;
        font-size: medium;
        font-weight: 700;
    }
    .menu{
        display: block;
        margin-top: 10px;
    }
    main{
        padding-top: 3%;
        background-size: auto;
        background-position: center;
        background-attachment: fixed;
    }
    .gvp img{
        width: 40%;
    }
    .name p{
        margin-top: 3%;
    }
    .gal{
        font-size: xx-large;
    }
    .gallery{
        width:95%; 
    }
} 