*{
    margin: 0;
    font-family: "Inter", sans-serif;
}
body{
    width: 100%;
    background-color: white;
    overflow-x: hidden;
}
nav{
    height: auto;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    padding-left: 20px;
    padding-right: 5% ;
    background-color: #BF2F31 ;
    overflow-x: hidden;
}
.left .logo{
    display: flex;
    align-items: center;
    color: white;
}
.logo h1{
    font-size: small;
    font-weight: 800;
    border: 1.5px solid white;
    margin-top: 1.5px;
    padding: 1.5px;
}
.right{
    width: 90%;
    justify-content: space-between;
    align-content: space-between;
}

.links{
    padding-left:10%;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    align-items: center;
    padding-top: 2%;
}
.links a{
    color: white;
    text-decoration: none;
    padding-left: 5%;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    align-items: center;
}
.links a:active{
    color: #E9B824;
}
.menu{
    display: none;
}
@media only screen and (max-width:1235px){
    .links{
        align-items: center;
    }
    .links a{
        font-size: 1.14vw;
        font-weight: 700;
    }

}

@media only screen and (max-width:850px){
    .nav-li{
        height: 100vh;
        text-align: center;
    }
    .links{
        
        font-size: larger;
        position: absolute;
        display: grid;
        justify-content: center;
        align-items: center;
        align-content: center;
        left: 25%;
        bottom: 40%;
        margin-bottom: 900px;
        text-align:center;
    } 
    .mobile-menu{
        margin-bottom: 0%;
    }
    .links a{
        align-items: center;
        margin-top: 30px;
        cursor: col-resize;
        font-size: medium;
        font-weight: 700;
    }
    .menu{
        display: block;
        margin-top: 10px;
    }
   
} 

/* notification */
.notifications{
    position: relative;
    background-color: #E9B824;
    padding: 3px 0 3px 0;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}
.notifications a {
    text-decoration: solid;
    color: #2f51bf;
    font-size: 2.5vmin;
    padding-left: 50px;
    direction: rtl;
}
.notifications a:hover,a:active {
    color: aliceblue;
}

/* main page */
main{
    background-image: url(https://github.com/eagerclub1/GVP-Student-Portal/blob/main/assects/campus1.png?raw=true);
    background-attachment: fixed;
    background-position: center;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    justify-content: center;

}
section{
    background-color: white;
}
