*{
    margin: 0;
    font-family: "Inter", sans-serif;
}
body{
    width: 100%;
    background-color: white;
    overflow-x: hidden;
}
nav{
    height: auto;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    padding-left: 20px;
    padding-right: 5% ;
    background-color: #BF2F31 ;
    overflow-x: hidden;
}
.left .logo{
    display: flex;
    align-items: center;
    color: white;
}
.logo h1{
    font-size: small;
    font-weight: 800;
    border: 1.5px solid white;
    margin-top: 1.5px;
    padding: 1.5px;
}
.right{
    width: 90%;
    justify-content: space-between;
    align-content: space-between;
}

.links{
    padding-left:10%;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    align-items: center;
    padding-top: 2%;
}
.links a{
    color: white;
    text-decoration: none;
    padding-left: 5%;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    align-items: center;
}
.links a:active{
    color: #E9B824;
}
.menu{
    display: none;
}
.container {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #ffffff;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }
@media only screen and (max-width:1235px){
    .links{
        align-items: center;
    }
    .links a{
        font-size: 1.14vw;
        font-weight: 700;
    }

}
@media only screen and (max-width:850px){
    .nav-li{
        height: 100vh;
        text-align: center;
    }
    .links{
        
        font-size: larger;
        position: absolute;
        display: grid;
        justify-content: center;
        align-items: center;
        align-content: center;
        left: 25%;
        bottom: 40%;
        margin-bottom: 900px;
    } 
    .mobile-menu{
        margin-bottom: 0%;
    }
    .links a{
        align-items: center;
        margin-top: 30px;
        cursor: col-resize;
        font-size: medium;
        font-weight: 700;
    }
    .menu{
        display: block;
        margin-top: 10px;
    }
   
} 
